{% extends 'base.html' %}
{% load poslannik_tags %}
{% block content %}
    <div class="title">
        <h1>{{ title }}</h1>
    </div>
    <form class="search" action="{% url 'search' %}" method="GET">
        <input type="text" name="q" placeholder="Поиск...">
        <button type="submit">Найти</button>
    </form>
    <ul>
        {% for part in parts %}
        <li>
            <h1>{{part.name}}</h1>
            <div class="product-details">
                <div class="product-image">
                    {% if part.photo %}
                        <img src="{{part.photo.url}}" alt="{{ part.name }}" class="fixed-size-image">
                    {% else %}
                        <img src="/media/defaults/template_01.png" alt="{{ part.name }}" class="fixed-size-image">
                    {% endif %}
                </div>
                <div class="product-description">
                    <p>
                        {# Костыль пока нет описания #}
                        {% if part.descr %}
                        {{part.descr}}
                        {% else %}
                        {{ default_descr }}
                        {% endif %}
                    {% if part.article %}
                        <h2>Артикул: {{ part.article }}</h2>
                    {%endif%}

                    </p>
                </div>
            </div>
            <p>{{ part.price}} руб.</p>
            <p><a href="{{part.get_absolute_url}}">Заказать через оператора</a> </p>
            <form method="post" action="{% url 'cart:add_to_cart' product_id=part.id %}">
                {% csrf_token %}
                <button type="submit">Добавить в корзину</button>
            </form>
            {% if not forloop.last %}
                <hr>
            {%endif%}
        </li>
    {% endfor %}
    </ul>
<nav class="list-pages">
    <ul>
        {% for p in paginator.page_range %}
                   {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
                   {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
                   {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}
    